*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
    padding: 20px;
}

.titulo{
    font-family: monospace;
    font-size: 30px;
}

.destaque{
    background-color: black;
    color: white;
}

.container img{
    height: 250px;
    width: 250px;
    object-fit: fill;
    margin: 5px;
}

video{
    width: 90vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

iframe{
    width: 560;
}